.main-container {
    margin: 30px;

    .header_inputs-container{
        display: flex;
        flex-direction: column;

        .input-box{
            width: 30%;
            height: 20px;
            margin-bottom: 10px;
        }

        
        .add-link{
            width: 10%;
            padding: 5px;
            cursor: pointer;
            background-color: rgb(118, 200, 255);
            border: 1px solid rgb(31, 160, 247);
            border-radius: 5%;
            cursor: pointer;
        }
    }

    .main_links-list{
        padding-left: 0;

        .list_link{
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            list-style: none;

            .list_link-anchor{
                text-decoration: none;
            }

            .link-btn{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .delete{
                margin-left: 10px;
                
            }
        }
    }
}