.main-container {
    margin: 30px;

    .header_inputs-container{
        display: flex;
        flex-direction: column;

        .input-box{
            width: 30%;
            height: 20px;
            margin-bottom: 10px;
        }

        
        .add-link{
            width: 10%;
            padding: 5px;
            cursor: pointer;
            background-color: rgb(118, 200, 255);
            border: 1px solid rgb(31, 160, 247);
            border-radius: 5%;
        }
    }

    .main_links-list{
        padding-left: 0;

        .list_link{
            display: flex;
            align-items: center;
            padding-bottom: 15px;
            list-style: none;

            .list_link-anchor{
                text-decoration: none;
            }

            .list_link-btn{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .delete{
                margin-left: 10px;
            }

        }
    }
    
    .main_update-box{
        width: 200px;
        background-color: #fff;
        padding: 20px;
        box-shadow: 2px 2px 5px 2px #949494;

        .update{
            display: flex;
            margin-bottom: 15px;
        }
    
        .visible{
            display: inline;
        }
        
        .update-link{
            padding: 5px 15px;
            cursor: pointer;
            background-color: rgb(118, 200, 255);
            border: 1px solid rgb(31, 160, 247);
            border-radius: 5%;
        }
    }
}